* {
  box-sizing: border-box;
  background-color: #668e81;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* header start */
/* header added - container and background coulour added - flex box model used */
header {
  background-color: #053726;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* nav css added - flexbox model used - padding and margin adjusted - font adjusted*/
nav {
  background-color: #053726;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  
}

nav a {
  color: white;
  padding: 6px 10px;
  /* margin-right: -15px; */
  min-height:auto;
  align-self: center;
}
/* End Header */

/* start Hero-banner */
/* background place holder image added - flexbox display used */
.hero-banner {
  background-image: url("../images/header\ plants\ .jpeg");
  display: flex;
  min-height: 20vh;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  padding: 8% 0% 0%;
  border-bottom: 5px solid #053726;
}

  .hero-banner h3 {
    display: inline;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-right: 120px;
    color: white;
    border: 4px solid #3b584e;
  }

h1 {
  color: white;
  padding: 6px 12px;
  /* margin-left: -15px; */
  background-color: #668e81; 
}

h2 { 
  justify-content: flex-end;
  align-items: center;
}

/* End Hero banner */

h3, h4, h5 {
  color: white;
  padding: 6px 12px;
  margin-right: 0;
  flex-direction: flex-end;
}

/* Start About-me section */

#about {
  display: grid;
  grid-template-columns: auto 300px 300px;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 2px solid #053726;
  margin-top: 10px;

}
.about-title {
  color: white;
  padding: -14px 8px;
  margin-left: 10px;
  justify-content: center;
  align-self: center;
  flex-flow: row nowrap;
}

.about-me {
  color: white;
  padding: 6px 12px;
  margin-left: 10%;
  align-self: center;
  min-width: 50px;
  grid-column-start: 2;
  grid-column-end: 4;
}
/* End About me section */

 /* start work section */

.flex-container {
  display: grid;
  position: relative;
  grid-template-columns: auto auto auto;
  margin: 5%;
  gap: 20px;
  border-bottom: 2px solid #053726;
  padding-bottom: 50px;
}

.flex-item { 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.work {
 color: white;
 padding: 0px 8px;
 /* grid-row-start: 2; */
}

.horiseon {
  grid-column: 2 / span 2;
  background:#e4f3ee;
  border: 5px solid white;
  background-image: url("../images/challenge-01.png");
  background-size:cover;
  min-width: max-content;
  background-repeat: no-repeat;
  opacity: 70%;
  text-align: center;
  min-height: 40vh;
} 
.prework {
  grid-column-start: 2;
  grid-column-end: 3;
  background:#e4f3ee;
  border: 5px solid #3b584e;
  min-height: 25vh;
  background-image: url("../images/pre-work-02.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: max-content;
  opacity: 70%;
  text-align: center;
}

.project-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  background:#e4f3ee;
  border: 5px solid #3b584e;
  min-height: 25vh;
  background-image: url("../images/02-portfolio-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: max-content;
  opacity: 70%;
  text-align: center;
}

.project-4 {
  grid-column-start: 2;
  grid-column-end: 3;
  background:#e4f3ee;
  border: 5px solid #3b584e;
  min-height: 25vh;
  background-image: url("../images/02-portfolio-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: max-content;
  opacity: 70%;
  text-align: center;
}

.project-5 {
  grid-column-start: 3;
  grid-column-end: 4;
  background:#e4f3ee;
  border: 5px solid #3b584e;
  min-height: 25vh;
  background-image: url("../images/02-portfolio-4.jpg");
  background-size:cover;
  min-width: max-content;
  background-repeat: no-repeat;
  opacity: 70%;
  text-align: center;
}

.box-text {
  color:#053726;
  background-color: white;
  opacity: 80%;
  margin-bottom: 5px;
  margin-top: 5px;
  justify-content: center;
  align-items: flex-end;
  text-align: left;
}

p {
  margin: 0;
  background-color: white;
  font-size: 12px;
}


/* End work section  */

/* contact */

.page-section {
  display: flex;
  flex-direction: row;
  flex-wrap: row wrap; 
  list-style-type: none;
  margin: 5%;
  margin-top: -60px;
  color: white;
  border-bottom: 2px solid #053726;
}

.contact-title {
  color: white;
  padding: 8px 8px;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  
}

.contact {
  display: flex;
  flex-direction: row;
  margin-left: 90px;
}

.contact-link {
  background-color: #053726;
  list-style-type: none;
  padding: 6px 65px;
  Color: white;
  justify-content:flex-end;
  align-self: center;
  text-align: end;
  text-decoration: wavy;
}


 /* start foorter */
h6 {
justify-content: center;
align-items: flex-end;
text-align: center;
background-color: #053726;
color: white;
min-height: 10vh;
padding-top: 15px;
}
/* End footer */



                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      