* {
  box-sizing: border-box;
  background-color: #668e81;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'lucida sans';
  line-height: 1.5;
}

/* header added - container and background coulour added - flex box model used */
header {
  /* padding: 0px; */
  font-family:'Lucida Sans'; 
  background-color: #053726;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* nav css added - flexbox model used - padding and margin adjusted - font adjusted*/
nav {
  background-color: #053726;
  font-family: 'Lucida Grande';
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  
}

nav a {
  color: white;
  padding: 6px 10px;
  /* margin-right: -15px; */
  min-height:auto;
  align-self: center;
}

/* background place holder image added - flexbox display used */
.hero-banner {
  background-image: url("../images/header\ plants\ .jpeg");
  display: flex;
  min-height: 20vh;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  padding: 8% 0% 0%;
  border-bottom: 5px solid #053726;
}

  .hero-banner h2 {
    display: inline;
    padding: 5px 10px;
    color: white;
    border: 4px solid #3b584e;
  }

h1 {
  color: white;
  padding: 6px 12px;
  /* margin-left: -15px; */
  background-color: #668e81; 
}

h2, h3, h4, h5, h6 {
  color: white;
  padding: 6px 12px;
  margin-right: 0;
  flex-direction: flex-end;
}

/* section {
display: flex; 
flex-direction: row;
} */


.page-section {
  display: flex;
  flex-direction: row;
}

.about-me {
  color: white;
  padding: 6px 12px;
  margin-left: 10%;
  justify-content: center;

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #91cbb8;
}

.prework {
  width: 100%;
  border
}

/* .flex-container > div {
  align-items: stretch;
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;} */

.flex-item {
  background-image: url("../images/02-portfolio-4.jpg");
  display: flex;
  min-height: 40vh;
  justify-content: flex-end;
  align-items: bottom;
  text-align: right;
  padding: 3% 8%;}


/* .prework {
  background-image: url("../images/02-portfolio-2.jpg");
  display: flex;
  min-height: 40vh;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  padding: 3% 8%;}

.horiseon {
  background-image: url("../images/02-portfolio-2.jpg");
  display: flex;
  min-height: 40vh;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  padding: 3% 8%;} */

/* .project-3 {
  background-image: url("../images/02-portfolio-2.jpg");
  display: flex;
  min-height: 40vh;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  padding: 3% 8%;}

.project-4 {
  background-image: url("../images/02-portfolio-2.jpg");
  display: flex;
  min-height: 40vh;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  padding: 3% 8%;}

.project-5 {
  background-image: url("../images/02-portfolio-2.jpg");
  display: flex;
  min-height: 40vh;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  padding: 3% 8%;} */

footer {
 display: flex;
 flex-direction: row;
}

#contact {
  float: left;
  font-family: 'Lucida Grande';
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
}




p {
  margin: 0;
}