* {
  box-sizing: border-box;
  background-color: #053726;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'lucida sans';
  line-height: 1.5;
}
/* nav css added - flexbox model used - padding and margin adjusted - font adjusted*/
nav {
  float: right;
  font-family: 'Lucida Grande';
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

nav a {
  color: white;
  padding: 6px 12px;
  margin-right: -12px;
}

/* background place holder image added - flexbox display used */
.hero-banner {
  background-image: url("../images/02-portfolio-4.jpg");
  background-position: center;
  display: flex;
  min-height: 40vh;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  padding: 3% 8%;}