* {
  box-sizing: border-box;
  background-color: #053726;
  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'lucida sans';
  line-height: 1.5;
}
/* nav css added - flexbox model used - padding and margin adjusted */
nav {
  float: right;
  font-family: 'Lucida Grande';
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

nav a {
  color: white;
  padding: 6px 12px;
  margin-right: -12px;
}